<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
   
        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
      
        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
      
        <!-- Assume test is the database name -->
      
        <property name = "connection.url">
            jdbc:mysql://localhost/flyaway
        </property>
      
        <property name = "connection.username">
            root
        </property>
      
        <property name = "connection.password">
            root
        </property>
      
        <mapping class="com.entities.User"/>
        <mapping class="com.entities.Flights"/>
        <mapping class="com.entities.Airlines"/>        
        <mapping class="com.entities.Bookings"/>        
    
      
    </session-factory>
</hibernate-configuration> 